@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    font-family: 'Lato', sans-serif;
	overflow: hidden;
	color: #2a3237;
	cursor: pointer;
	overflow-y:scroll;
	margin: 0 auto;
}
section{
	margin: 0 auto;
}
.parallax {
	position: absolute;
	/* overflow: hidden; */
	width: 100% !important;
	transform: translateZ(0);
}

.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color:#fff;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url('/img/computer-1373684_1920.jpg') no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	font-size: 1.9rem;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	position: relative;
	margin: 10px 0;
}
h1{
	font-size: 7rem;
}
h2{
	font-size: 5rem;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}
header {
	position: relative;
	width: 100%;
	color: #00a8ff;
	background: url('../img/laptop-g7a05c8f2a_1920.jpg');
    background-attachment:fixed;
	background-size: cover;
    
}

header .table {
	display: table;
	height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.918) ,rgba(0, 0, 0, 0.637));
    opacity: .90;
}

header .container {
	height: 100%;overflow: hidden;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #00a8ff;
	animation-name: flash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #00a8ff;
	transition: all 0.3s ease;
}
/* Navigation Bar ( Navbar ) */
nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #00a8ff !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 25px 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #8a8e91;
}

.icon-bar {
	background: #bbb;
}
/* Buttons */

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: rgb(17, 17, 17);
}

.btn.btn-blue {
	background: #00a8ff;
}

.btn.btn-blue:hover {
	background: #00a8ff;
}

.btn.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
}

.btn.btn-blue-fill:hover {
	color: white;
	background: #00a8ff;
}

.btn.btn-white-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-white-fill:hover {
	color: #00a8ff;
	background: #fff;
}

.btn.btn-gray-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-gray-fill:hover {
	border-color: #bbb;
	background: #bbb;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 50px;
}

.container {
	position: relative;
	margin:0 auto;
	z-index: 1;	
}
/* Sections */
section {
	position: relative;
	margin: 0 auto;
}

.section {
	padding: 40px 0;
	background: #fff;
}

.section-padded {
	padding: 140px 0 40px;
}

.cut-top {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}

.intro-tables {
	top: -130px;
	position: relative;
	margin: 0 auto;
	z-index: 25;overflow: hidden;
}

.intro-table {
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
	z-index: 25;
}
.intro-table-first {
	background-image: url('../img/people-g0e9d8c0e5_640.webp');
   
}

.intro-table-hover {
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../img/sunset-gd7af1ab59_640.webp');
}

.intro-table-hover h4 {
	transform: translateY(170px);
	transition: transform 0.3s;
}

.intro-table-hover:hover {
	background-image: url('../img/percent-g99e1d88ee_640.webp');
	background-position: 50% 50%;
}

.intro-table-third {
	background-image: url('../img/pen-gfa779709a_640.webp');
}

.intro-table-hover .expand {
	margin: 30px;
	margin-top: 120px;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s;
	transform: scale(0.6);
}

.intro-table-hover:hover h4 {
	transform: translateY(0);
}

.intro-table-hover:hover .expand {
	opacity: 1;
	transform: scale(1);
}

.intro-table-hover .hide-hover {
	transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
	opacity: 0;
}

.intro-tables .intro-table {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 20px 0;
}

.intro-tables .intro-table .heading {
	margin: 0;
	padding:25px 20px;
}

.intro-tables .intro-table .small-heading {
	margin: 0 0 0px 15px;
	padding: 0 20px;
}

.intro-tables .intro-table .bottom {
	position: absolute;
	bottom: 0;
}

.intro-tables .intro-table  .schedule-row {
	padding: 10px 30px;
	color: #000;
	transition: all 0.3s ease;
}

.owl-schedule .schedule-row:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.owl-testimonials .author {
	margin-top: 50px;
}

.services {
	margin: 40px 0;
}

.service {
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
    background-color: #fff;
	box-shadow: 0px 1px 6px 0.5px #8c949471;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 50px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top:20px;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 60px;
}

.service:hover {
	border-color: darkgreen;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
    color:#00a8ff;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	transform: scale(1);
}
/* g */
#g {
    background: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .sponsor img {
    max-width: 140px;
    max-height: 60px;
    vertical-align: middle;
  }
  
  .sponsor .col-sm-2 {
    height: 80px;
    line-height: 80px;
  }
  /* competence */
  #competences{
      background: linear-gradient( rgba(0, 0, 0, 0.918) ,rgba(0, 0, 0, 0.637));
      height: 100%;
  }
  small{
	  font-size: 1.6rem;
  }
  .competence-item{
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    top:-10px;
    
}
.competence-btn{
    margin-bottom: 20px;
}
/* responsive img */
.compatible{
    background: url('../img/people-g03ecbaf93_1920.webp');
    background-attachment: fixed;
	height: 550px;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 6px 0.5px #8c949471;
}
.compatible .row{
	background: linear-gradient( rgba(0, 0, 0, 0.918) ,rgba(0, 0, 0, 0.637));
	height: 550px;
}
.compatible-heading{
    font-weight: bold;
	position: relative;
	top: 150px;
}
.compatible-ul{
	display: none;
	visibility: hidden;
}
.compatible-p{
    position: relative;
	top: 160px;
}

/* Portfolio */
.img-compatible{
    display: inline-block;
	position: relative;
    top: -310px;
	right: -450px;
    width: 700px;
	
}
.img-compatible img{box-shadow: 0px 1px 6px 0.5px #8c9494e5;}
.div-imgcompatible{
	height: 50px;
}
.team h2, h3, h5{
	position: relative;
	top: 20%;
}
.team {
	background: white;
	box-shadow: 0px 1px 6px 0.5px #8c949471;
}

.team .cover .overlay {
	height: 300px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}
/*  Packs */
.list-inlin{
	display: flex;
	justify-content: space-evenly;
    font-size: 2rem;}
.pack-h3{
    padding: 30px;
}

.pack{
    position: relative; 
    width: 350px;
    height: auto;
    border: none;
    margin: 10px;
    border-radius: 20px;
    padding: 0;
	box-shadow: 0px 1px 6px 0.5px #8c949471;
}
.pack-un{
	background-color:#00cafd8e;
}
.pack:hover{
    background-color: #f2f2f2;
}
.pack ul:hover{
    background-color:#00cafd8e;
   
}
.infos{
    background: url('../img/smartmockups_kwv33vfo.webp');
    background-attachment: fixed;
    padding: 10px;
}
.packs-bginfo{
    background-color: rgba(24, 24, 24, 0.527);
	box-shadow: 0px 1px 6px 0.5px #8c949471
}
.fa-pencil-ruler, .fa-rocket, .fa-tools, .fa-laptop, .fa-history{
    padding: 10px;
    border-radius: 50%;
    background-color: #00a8ff;
    border: solid 1px darkgreen;
    color:#fff
}
.graybg{
    background-color: #00acfc57;
}
.btn-blue-fill{
    margin-bottom: 20px;
}
.pack li{
    padding-bottom:10px ;
    width: 100%;
    margin: 0;
}
.pack-heading{
    padding-top: 20px;
    
}
.price{
    color: #00a8ff; font-weight: bold;}
    
ul {
    list-style-type: none;
    }
.radius{
    border-radius: 1rem 1rem 0 0;
}
#packs {
	background-size: cover;
	transition: background-image 0.6s linear 0.3s;
}
/* contact */
#contact{
    background: url('../img/laptop-g7a05c8f2a_1920.jpg');
    background-attachment: fixed;
}
#contact .row{box-shadow: 10px 2px 30px 10 #0a0a0a}
.over{
    background: linear-gradient( rgba(0, 0, 0, 0.918) ,rgba(0, 0, 0, 0.637));
	box-shadow: 0px 2px 3px 0 #0a0a0a
}
.contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
	
  }
  .contact-form input, .contact-form textarea {
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: 1px 1px 6px 3px #12131371;
    font-size: 1.7rem;
    height: auto;
	border-radius: 10px;
	color: #ccc;
	background-color: rgba(0, 172, 252, 0.295);
  }
  /* .contact-form input:hover > i.fa-user-o {
	  display: none;opacity: 0;
  } */
  .contact-form input:hover, .contact-form textarea:hover {
	background-color: rgba(235, 249, 255, 0.295);
	color: lavender;
  }
  #contact-form i{
	position: relative;
	top: 33px;left: 15px;margin-right: 10px;
	font-size: 20px;
  }
  input:hover .fa-user-o {
	display: none;opacity: 0;visibility: hidden;
  }
  .contact-form ::placeholder{
	position: relative;
	left: 25px;
  }
  .contact-flex{
	display: inline-flex;	  
  }
  .contact-flex label{
	position: relative;left: 5px;	  
  }
  .contact-form .form-send {
    text-align: center;
  }
  
  .contact-form .form-send button {
    background-color: rgba(0, 172, 252, 0.473);
    border: none;
    padding: 12px 40px;
	box-shadow: 1px 1px 6px 3px #12131371;
    color: #ccc;
    transition: 0.4s;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .contact-form .form-send button:hover {
    border:solid 1px #f7f7f7;
  }
  .contact-form  ::placeholder:hover{
    display: none;
	opacity: 0;
  }
  .sent-message{
	  display: none;
  }
  .contact_message{
	  color: #ddd;
  }
  .contact-form .validate, .contact-form .error-message{
    display: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
  }

/* Footer*/
footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	animation-name: flash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

/* Footer */
.footer1 { background:#f2f2f2 ; padding: 30px 0 0 0; font-size: 12px; color: #232323; }
    .footer1 .row {box-shadow: 0px 1px 6px 0.5px #8c949471;padding-top: 15px;}
	.footer1 a { color: #232323; }
	.footer1 a:hover {color: #00a8ff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #00a8ff; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
	.footer1 .entry-meta a { color: #333333; }
	.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
	.follow-me-icons i {color: #00a8ff; float:left; margin:0 10px 0 0; }	
	.widget-body{color: #232323;padding: 10px;}	
     .myphoto{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	 }
	.fa-clock-o, .fa-map-marker {
       position: relative;top: 6px;
	}
/* Form Control */

.form-control {
	font-size: 18px;
	position: relative;
	left: 0;
	height: auto;
	padding: 20px 30px;
	border: 1px;
	border-radius: 0;
	box-shadow: 0;
}

.form-control.form-white {
	color: #fff;
	border: 2px solid white;
	background: transparent;
	transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #fff;
}

.form-control.form-white:-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.form-control.form-white::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #fff;
}

.form-control.form-white:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #fff;
}

.form-control.form-white:focus {
	background: rgba(255,255,255,0.2);
}

.btn.btn-submit {
	width: 100%;
	margin-top: 30px;
	color: #00a8ff;
	border: 2px solid #fff;
	background: #fff;
}

.btn.btn-submit:focus {
	font-weight: bold;
}

.btn.btn-submit:hover {
	color: #00a8ff;
	background: #fff;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	left: calc(50% - 10px);
	width: 100%;
	padding: 15px 0;
	color: #0f0f0f;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #00a8ff;
}

.muted {
	color: #7c8d97;
}

@media(max-width:1024px) {
	.team .cover .overlay {
		height: 520px;
		margin: 0 auto;
		
	}
	.list-inlin{
		display: block;
		justify-content: space-around;
    }
	.img-compatible{
		right: -160px;
	}
	.compatible-heading, .compatible-p{
		top: 80px;
	}
	.pack{
		width: 300px;
	}
	.img-responsive{
		width: 390px;
		
	  }
	
}

/* Media Queries */


@media(max-width: 768px) {
	
	.img-compatible{
		right: -100px;
	}
	.pack{
		margin:15px auto;
	}
}

@media(max-width: 425px) {
	html{width: auto; margin: 0 auto; overflow-x: hidden;overflow-y: scroll;}
	.intro-tables .intro-table {
		overflow: hidden;
	}
	.intro-tables {
		overflow: hidden;
	}
	.img-compatible{
		top: -180px;
		width: 350px;
		right: 0px;
	}
	.team .cover .overlay{
		height: 210px;
		margin: 0 auto;
		
	}
	.compatible-heading{
		padding:0 10px;
		top: 150px;
	}
	.compatible-ul{
		display: block;
		visibility: visible;
		position: relative;top: 160px;left: 65px;
		text-align: left;
		margin: 0 auto;
		
	}
	.compatible-p{
	   display: none;
	   visibility: hidden;
	}
	.intro-tables .intro-table {
		position: relative;
		width: auto;
		height: 360px;
		overflow: hidden;
	}
	.service {
		height: auto;
	}
	h1 {
		font-size: 4rem;
	}
	
	h2 {
		font-size: 3rem;
	}
	
	h3 {
		font-size: 2rem;
	}
	
	h4 {
		font-size: 1.8rem;
	}
	
}




